body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4c87af;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4c74af;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4c66af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #456ca0;
}